.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    padding-top: 40px;
}
.header .header__title{
    font-size: 24px;
    font-weight:600;
}
.header .header__icon{
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.header .header__header-column{

    display:flex;
    align-items: center;
}
.header .header__header-column1{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top:5px;
}

.header .header__back-btn{
    font-size: 22px;
    margin-right: 20px;
}